body{
    background-color: rgba(0, 0, 0, 0.486);
}

.main{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    position: relative;
    width: 800px;
    height: 600px;
    margin: auto;
}

.main img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 800ms;
    
}

.main img.selected{
    opacity: 1;
    
}